@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Oswald:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul,
li,
ol {
    list-style: none;
}

html {
    /* Font size is 10px (10px = 1rem) */
    font-size: 62.5%;
}

body {
    font-family: 'Cardo', serif;
    box-sizing: border-box;
    padding: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

li,
a { text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    color: black;
}

/* Style h1,h2,h3 and paragraph */
.padding__bottom-large {
    padding-bottom: 6rem;
}

.padding__bottom-middle {
    padding-bottom: 4rem;
}

.padding__bottom-small {
    padding-bottom: 2rem;
}


.heading-primary {
    color: black;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: .5rem;
    backface-visibility: hidden;  
}

.heading-secondary {
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #ADE8F4, #0077B6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
}

.heading-tertiary {
    font-size: 1.6rem;
}

.paragraph {
    font-size: 1.4rem;
}

.text-center {
    text-align: center;
}
.home__navigation {
    text-align: center;
    position: relative;
    height: 97vh;
}

.logo {
    padding: 3rem;
    float: left;
}

.navigation__nav {
    padding: 3rem;
    float: right;
}

.navigation__item {
    display: inline-block;
    padding: 0 2rem;
}

.navigation__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .6rem;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.video__navigation {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header__text-box {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    95% {
        transform: translateX(-1rem);
        opacity: .1;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
        opacity: .2;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.heading-primary--main {
    display: block;
    animation: moveInLeft 2s ease-out;
}

.heading-primary--sub {
    display: block;

    animation: moveInRight 2s ease-out;
}

.active {
    background-image: linear-gradient(to right,  #0077B6, #ADE8F4);
    
}

.section__about {
    background-color: #f4f4f4;
    width: 100%;
    padding: 10rem 0;
}
.row {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    flex-wrap: wrap;
}

.col{
    width: 60rem;
    height: 35rem;
}


.conteiner {
    position: relative;
}

.conteiner--img {
    width: 50%;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
    border-radius: 2px;
    position: absolute;
    transition: all .2s;
    outline-offset: 2rem;
}

.section__about--img1 {
    top: -1rem;
    left: -1rem;
}

.section__about--img2 {
    top: 0;
    left: 20rem;
}

.section__about--img3 {
    top: 14rem;
    left: -1rem;
}

.section__about--img4 {
    top: 14rem;
    left: 19rem;
}

.conteiner--img:hover {
    transform: scale(1.05) translate(-.5px);
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 80%);
    z-index: 20;
}
.section__events {
    background-image: url(../img/samuel-austin-S_TIOyYuiJI-unsplash.jpg);
    background-position: center;
   
    width: 100%;
    padding: 10rem;
}

.event__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5rem;
    padding-bottom: 10rem;
}

.event__section {
    position: relative;
    width: 426px;
    height: 284px;
}

.event__section--img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-position: cover;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 80%);
}

.event__section:hover .event__section--img {
    filter: blur(3px) brightness(80%);
   
}
.event__section-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
    opacity: 0;
    transition: all .5s;
}

.event__section:hover .event__section-overlay {
    opacity: 1;
    color: white;
    transform: translate(-50%, -50%);
}
.paragraph i {
    padding: 1rem;
}

.team {
    padding: 10rem;
    width: 100%;
    background-color: #f4f4f4;
}

.team-wrapper {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    flex-wrap: wrap;
}

.team__content {
    width: 40rem;
    height: 50rem;
    position: relative;
}

.team__content-img {
    width: 40rem;
    height: 40rem;
    clip-path: circle(50% at 50% 50%);
    
}

.team-image {
    height: 150%;
    background-size: cover;
    transform: scale(1.1);
    transition: all .5s;
}

.team-image:hover {
    transform: scale(1.3);
    transition: all .5s;
}

.team-info {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    width: 100%;
    background-image: linear-gradient(to right, #ADE8F4, #0077B6);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__navigation {
    text-align: center;
    position: relative;
    height: 13rem;
    background-color: #f4f4f4;
}

.gallery {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
    background-color: #f4f4f4;
    z-index: -1;
}

.gallery__img {
    width: 100%;
    transform: scale(1);
    transition: all .2s;
}

.gallery__img:hover {
    position: relative;
    transform: scale(1.1);
    transition: all .4s;
    z-index: 10;
}

.classes {
    padding: 4rem 0;
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    flex-wrap: wrap;
}

.yoga__class {
    width: 45rem;
    position: relative;
}

.yoga__class--img {
    width: 100%;
    border-radius: 3px;
    background-position: cover;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 80%);
}

.yoga__class--info {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
    opacity: 0;
    transition: all .5s;
}
.yoga__class:hover .yoga__class--img{
    filter: blur(3px) brightness(30%);
}
.yoga__class:hover .yoga__class--info {
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: all .5s;
    color: #f4f4f4;
}

.contact {
    position: relative;
    height: 65vh;
    padding: 10rem 0;
    background-image:linear-gradient(105deg, 
    transparent 50%,
    rgba(255, 255, 255, 0.9) 0%,
    rgba(255, 255, 255, 0.9) 50%),
    url(../img/pexels-suzy-hazelwood-1302675.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-form {
    position: absolute;
    top:50%;
    left:75%;
    transform: translate(-50%, -50%);   
}

.submit-button {
    padding: 1rem;
    border: 3px solid #0077B6;
    border-radius: 20px;
    letter-spacing: 2px;
}
.submit-button:hover {
    color: #f4f4f4;
    background-color: #0077B6;
    cursor: pointer;
}
