@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Oswald:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul,
li,
ol {
    list-style: none;
}

html {
    /* Font size is 10px (10px = 1rem) */
    font-size: 62.5%;
}

body {
    font-family: 'Cardo', serif;
    box-sizing: border-box;
    padding: 3rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

li,
a { text-decoration: none;
    font-weight: 400;
    font-size: 1.6rem;
    color: black;
}

/* Style h1,h2,h3 and paragraph */

.heading-primary {
    color: black;
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: .5rem;
    backface-visibility: hidden;
    margin-bottom: 6rem;
}

.heading-secondary {
    text-align: center;
    padding-bottom: 5rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, #ADE8F4, #0077B6);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: 2px;
}

.heading-tertiary {
    font-size: 1.6rem;
}

.paragraph {
    font-size: 1.4rem;
}

.text-center {
    text-align: center;
}
.home__navigation {
    text-align: center;
    position: relative;
    height: 97vh;
}

.logo {
    padding: 3rem;
    float: left;
}

.navigation__nav {
    padding: 3rem;
    float: right;
}

.navigation__item {
    display: inline-block;
    padding: 2rem;
}

.navigation__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: .6rem;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.video__navigation {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header__text-box {
    position: absolute;
    width: 40%;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    95% {
        transform: translateX(-1rem);
        opacity: .1;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
        opacity: .2;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.heading-primary--main {
    display: block;

    animation: moveInLeft 2s ease-out;
    padding-bottom: 4rem;
}

.heading-primary--sub {
    display: block;

    animation: moveInRight 2s ease-out;
}

.section__about {
    background-color: #f4f4f4;
    width: 100%;
    padding: 10rem 0;
}
.row {
    max-width: 130rem;
    margin: 0 auto;
}

.col-1-of-2 {
    width: calc((100% - 6rem) / 2);
    float: left;
}

.conteiner {
    position: relative;
}

.conteiner--img {
    
    width: 50%;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 20%);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem;
}

.section__about--img1 {
    top: 0;
    left: 10rem;
}

.section__about--img2 {
    top: 1rem;
    left: 31rem;
}

.section__about--img3 {
    top: 15rem;
    left: 10rem;
}

.section__about--img4 {
    top: 15rem;
    left: 30rem;
}

.conteiner--img:hover {
    transform: scale(1.05) translate(-.5px);
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 80%);
    z-index: 20;
}
.section__events {
    background-image: url(../img/samuel-austin-S_TIOyYuiJI-unsplash.jpg);
    background-position: center;
   
    width: 100%;
    padding: 10rem;
}

.event__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5rem;
    padding-bottom: 10rem;
}

.event__section {
    position: relative;
    width: 426px;
    height: 284px;
}

.event__section--img {
    
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    background-position: cover;
    box-shadow: 0 1rem 2rem rgb(0 0 0 / 80%);
}

.event__section:hover .event__section--img {
    filter: blur(3px) brightness(80%);
   
}
.event__section-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 80%);
    opacity: 0;
    transition: all .5s;
}

.event__section:hover .event__section-overlay {
    opacity: 1;
    color: white;
    transform: translate(-50%, -50%);
}
.paragraph i {
    padding: 1rem;
}